*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.DS_Store
avalanche/.DS_Store
avalanche/.Python
avalanche/include/python2.7
db.sqlite
env/.DS_Store
env/.Python
env/include/python2.7
static/.DS_Store
templates/.DS_Store

*.jpg
