<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, deze pagina bestaat helaas niet!
                </div>
                <div class="error-actions">
                    <a href="{{url_for('show_main')}}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Breng me naar huis </a>
                </div>
            </div>
        </div>
    </div>
</div>
