{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="wrap">
          <p class="form-title">
            Registreer nieuwe gebruiker</p>
          {% if error %}
          <p class=error><strong>Error:</strong> {{ error }}{% endif %}
            <form action="{{ url_for('add_user') }}" method=post enctype=multipart/form-data class="login">
              <input type="text" name="username" placeholder="Gebruikersnaam" />
              <input type="password" name="password" placeholder="Wachtwoord" />
              <input type="text" name="email" placeholder="E-mail" />
              <input type="text" name="nickname" placeholder="Nickname" />
              <input type="submit" value="Registreer" class="btn btn-success btn-sm" />
              <div class="remember-forgot">
                  <div class="row">
                      <!---<div class="col-md-6">
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" />
                                  Onthoud mij
                              </label>
                          </div>
                      </div>!---->
                      <div class="col-md-6 register-new-content">
                          <a href="{{ url_for('show_login') }}" class="reg-new">Al geregistreerd?</a>
                      </div>
                  </div>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
