{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post enctype=multipart/form-data class=add-entry>
      <dl>
        <dt>Probleem(korte omschrijving):
        <dd><input type=text size=30 name=title>
        <dt>Lange omschrijving:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dt>Taal:
        <dd><input type=text size=30 name=lang>
        <dt>Gebruiker:
        <dd><input type=text size=30 name=user>
        <dt>Broncode:
        <dd><input type=file name=file>
        <dd><input type=submit value=Post>
      </dl>
    </form>
  {% endif %}
{% endblock %}